html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* variables */
:root {
  /* font family */
  --headings: "Oswald", sans-serif;
  --body-text: "Source Sans", sans-serif;

  /* font size */
  --font14: 0.85rem;
  --font16: 1rem;
  --font21: 1.313rem;
  --font24: 1.5rem;
  --font28: 1.75rem;
  --font36: 2.25rem;
  --font46: 2.875rem;
  --font56: 3.5rem;
  /* line-height */
  --line-height20: 1.25rem;
  --line-height26: 1.625rem;

  /* font-weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* color */
  --white: white;
  --black: black;
  --light-green: #77cc66;
  --dark-green: #50b975;
  --light-blue: #1581a2;
  --dark-blue: #17678c;
  --pinkypurp: #ac3aa9;
  --aurora: linear-gradient(
    180deg,
    rgba(119, 204, 102, 1) 19%,
    rgba(80, 185, 117, 1) 38%,
    rgba(21, 129, 162, 1) 68%,
    rgba(23, 103, 140, 1) 94%
  );

  /* spacings */
  --spacing5: 5px;
  --spacing10: 10px;
  --spacing20: 20px;
  --spacing40: 40px;
  --spacing60: 60px;
  --spacing100: 100px;
  --spacing120: 120px;
}

/* global styles */
.block {
  display: block;
}
.hidden {
  display: none;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
/* backgrounds */
.black-background {
  background-color: black;
}
.green-blue-background {
  background: var(--aurora);
}
.white-background {
  background-color: white;
}
/* header {
    background: url();
} */

/* text global styles */
h1,
h2,
h3 {
  color: white;
  font-family: var(--headings);
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-size: var(--font28);
}
h2 {
  padding-bottom: 30px;
  font-size: var(--font24);
}
h3 {
  padding-top: 20px;
  font-size: var(--font21);
}
p {
  color: var(--white);
  font-family: var(--body-text);
  font-size: var(--font16);
  line-height: var(--line-height20);
}
.caption {
  color: var(--white);
  font-family: var(--body-text);
  font-size: var(--font16);
}
ul {
  padding-inline-start: 0px;
}
li {
  color: var(--white);
  font-family: var(--body-text);
  list-style: none;
}
/* padding for sections */
header,
.green-blue-background,
.black-background,
.white-background,
footer {
  padding: 50px 0px;
}
header {
  padding-top: 0px !important;
}
/* button styles */
.button1 {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--body-text);
  font-weight: bold;
  border: 2px solid var(--white);
  border-radius: 4px;
  margin: 0 auto;
  padding: 5px 10px;
}
.button1:hover {
  background-color: var(--pinkypurp);
  color: var(--white);
}
.button2 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--body-text);
  font-weight: bold;
  border: 2px solid var(--white);
  border-radius: 4px;
  margin: 0 auto;
  padding: 5px 10px;
}
.button2:hover {
  background-color: var(--pinkypurp);
}
/* styles by section */
/* global social svgs */
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  gap: 10px;
}
.social:hover {
  transform: scale(1.1);
}
/* global text section */
.white-background h2,
.white-background p {
  color: var(--black);
}
/* nav */
nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px 10px 0px 0px;
}
.top-links {
  position: absolute;
  top: 50px;
  right: 12px;
  text-align: right;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
}
.top-links a {
  font-size: var(--font21);
}
.hide-links {
  display: none;
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
  margin: 0px;
}
a:hover {
  transform: scale(1.1);
}
.hover-underline:hover {
  border-bottom: 2px solid var(--white);
}

/* about section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img {
  width: 100%;
}
.about h2 {
  padding-bottom: 0px;
}
figure {
  max-width: 300px;
  text-align: center;
}
.read-more-modal {
  width: fit-content;
  background-color: rgba(21, 129, 162, 0.5);
  padding: 3px;
  border: 1px solid var(--dark-green);
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 16px;
}
.read-more-modal a {
  color: var(--white);
}
.read-more-modal a:hover {
  color: var(--black);
  background-color: transparent;
  font-weight: bold;
}

/* skills section */
.skills {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  width: 275px;
  gap: 10px;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
}

.skill:hover {
  transform: scale(0.9);
}
.skill h3 {
  color: var(--pinkypurp);
  padding: 5px 10px 10px 10px;
  text-align: center;
}
.skill img {
  width: 100px;
  margin: 0px;
}
/* project styles */
.project {
  margin-bottom: 35px;
}
.project-img img {
  width: 100%;
  min-width: 300px;
}
.project-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* contact form */
.form-info {
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-info h2 {
  padding-bottom: 0px;
}
.contact-form input,
.contact-form textarea {
  font-family: var(--body-text);
  width: 70%;
  max-width: 500px;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* media queries */
/* tablet and larger */
@media screen and (min-width: 768px) {
  /* global */
  h1 {
    font-size: var(--font36);
  }
  h2 {
    font-size: var(--font28);
  }
  h3 {
    font-size: var(--font24);
  }
  p,
  a,
  .button1 {
    font-size: var(--font21);
    line-height: var(--line-height26);
  }
  figcaption a {
    font-size: var(--font16);
  }

  /* sections global */
  header,
  .green-blue-background,
  .black-background,
  .white-background,
  footer {
    padding: 100px 0px;
  }
  /* nav */
  .top-links {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    margin-right: 5px;
    font-weight: var(--font-weight-bold);
  }
  /* hiding mobile menu btn */
  .mobile-menu-btn {
    display: none;
  }
  .hide-links {
    display: flex;
  }
  /* sections */
  /* about */
  .about-section {
    flex-direction: row;
  }
  .about-info {
    width: 70%;
  }
  /* skills */
  .skills {
    flex-flow: row wrap;
    flex-grow: 4;
    min-width: 510px;
    gap: 15px;
  }
}
/* Tablet Only */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 85%;
  }
  .skill {
    flex-grow: 0;
    flex-basis: 20%;
  }
}
/* Desktop Only */
@media screen and (min-width: 1024px) {
  header,
  .green-blue-background,
  .black-background,
  .white-background,
  footer {
    padding: 150px 0px;
  }
  /* wrapper */
  .wrapper {
    width: 80%;
  }
  /* about section */
  .about-info {
    width: 50%;
  }
  .skills {
    flex-flow: row wrap;
    /* flex-grow: 4; */
    gap: 50px;
  }
  .skill {
    flex-grow: 0;
    flex-basis: 20%;
  }
  .skill img {
    width: 150px;
  }
  /* project section */
  /* projects */
  .project {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .project-img,
  .project-info {
    width: 50%;
    padding: 10px;
  }
  .project h3 {
    text-align: left;
  }
}
/* even larger */
@media screen and (min-width: 1300px) {
  h1 {
    font-size: var(--font46);
  }
  h2 {
    font-size: var(--font36);
  }
  h3 {
    font-size: var(--font28);
  }
  p,
  a,
  .button1,
  .caption,
  figcaption a {
    font-size: var(--font24);
    line-height: var(--line-height26);
  }
  .top-links a {
    font-size: var(--font28);
  }
}
